In [ ]:
name:str = "Hamza sheikh"
print(name)
print(type(name))
print(id(name))
name1:str = "Hamza sheikh"
print(id(name1))

Hamza sheikh
<class 'str'>
132947413021808
132947413024112

In [ ]:
# string concatenation text k sath dusry text ko j0orna
name: str = "Hamza"
age:int = 20
dob:str = 2004-10/27

In [ ]:
data:str = "Hello worl how are you"
print(data)

In [ ]:
data:str = "Hello worl how are you"
print(data)

In [ ]:
# agar special character ki wjh se error arha ha tu uske agy back slash lagane se err solve hojyga

data:str = 'Hello 'world\' how are you'
print(data)

In [ ]:
# agar multiple line likhna ma err arha ho tu first line k last ma back slash t lagaye..

data:str = "Hello worl how are you?\
hamza"
print(data)

In [ ]:
data:str = "Hello world how are you\
\npakistan \t zindabd"
print(data)
# display(data) ye withoout format k data dkhata ha

In [ ]:
name:str = "Hamza sheikh"
age:str int = 20
dob = str 2004-10-28
print("Hellow my name is"+ name"and i am " age "years old")

In [ ]:
name:str = "Hamza sheikh"
age:str int = 20
dob = str 2004-10-28
print("my name is hamza {1} and i am {0} years old any my dob is {2}" .format(name,age,dob))

In [ ]:
# f-string
name:str = "Hamza sheikh"
age:int = 20
dob = str 2004-10-28
print = f"Hello my name is {name}and i am (age +1)years old"

SyntaxError: invalid syntax (<ipython-input-8-da6636af2f71>, line 4)

In [ ]:
name:str = "Hamza sheikh"
age:str int = 20
dob = str 2004-10-28
salary:flaot = 45000.544
message: str = f***hello, my name is {name}and my age is {age} and my dob is {dob} and my salary is {salary:.2f}"""

print(message)

SyntaxError: invalid decimal literal (<ipython-input-11-92aa88adf62e>, line 5)

In [ ]:
# prompt: i want to teach python operators now create some steps for us

# Python Operators

# 1. Arithmetic Operators:
#    - Addition (+)
#    - Subtraction (-)
#    - Multiplication (*)
#    - Division (/)
#    - Modulus (%)
#    - Exponent (**)
#    - Floor Division (//)

# Example:
a = 10
b = 5
print(a + b)  # Output: 15
print(a - b)  # Output: 5
print(a * b)  # Output: 50
print(a / b)  # Output: 2.0
print(a % b)  # Output: 0
print(a ** b)  # Output: 100000
print(a // b)  # Output: 2


# 2. Comparison Operators:
#    - Equal to (==)
#    - Not equal to (!=)
#    - Greater than (>)
#    - Less than (<)
#    - Greater than or equal to (>=)
#    - Less than or equal to (<=)

# Example:
a = 10
b = 5
print(a == b)  # Output: False
print(a != b)  # Output: True
print(a > b)   # Output: True
print(a < b)   # Output: False
print(a >= b)  # Output: True
print(a <= b)  # Output: False


# 3. Logical Operators:
#    - and
#    - or
#    - not

# Example:
a = True
b = False
print(a and b)  # Output: False
print(a or b)   # Output: True
print(not a)    # Output: False


# 4. Assignment Operators:
#    - Assign (=)
#    - Add and assign (+=)
#    - Subtract and assign (-=)
#    - Multiply and assign (*=)
#    - Divide and assign (/=)
#    - Modulus and assign (%=)
#    - Exponent and assign (**=)
#    - Floor division and assign (//=)

# Example:
a = 10
a += 5  # Equivalent to a = a + 5
print(a)  # Output: 15


# 5. Bitwise Operators:
#    - Bitwise AND (&)
#    - Bitwise OR (|)
#    - Bitwise XOR (^)
#    - Bitwise NOT (~)
#    - Left shift (<<)
#    - Right shift (>>)

# Example:
a = 10  # Binary: 1010
b = 5   # Binary: 0101
print(a & b)  # Output: 0 (Binary: 0000)
print(a | b)  # Output: 15 (Binary: 1111)
print(a ^ b)  # Output: 15 (Binary: 1111)
print(~a)   # Output: -11 (Binary: -1011)
print(a << 2) # Output: 40 (Binary: 101000)
print(a >> 2) # Output: 2 (Binary: 0010)


# 6. Membership Operators:
#    - in
#    - not in

# Example:
my_list = [1, 2, 3, 4, 5]
print(3 in my_list)  # Output: True
print(6 not in my_list)  # Output: True


# 7. Identity Operators:
#    - is
#    - is not

# Example:
a = 10
b = 10
print(a is b)  # Output: True (Both a and b refer to the same object)

In [ ]:
a = 10
b = 5
print(a == b)  # Output: False
print(a != b)  # Output: True
print(a > b)   # Output: True
print(a < b)   # Output: False
print(a >= b)  # Output: True
print(a <= b)  # Output: False